:host {
    display: block;
    color: #00a71c;
    padding: 3rem 2rem;
}

section {
    margin-top: 2rem;
}

section h2 {
    color: #00a71c;
}
section h3 {
        color: #ffffff;
}
section h4 {
    color: #00a71c;
}

/* PC */
:host.pc section {
    width: 600px;
    position: relative;
    margin-left: 5rem;
    display: block;
    gap: 0 1.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

:host.pc section h4:nth-child(4) {
    grid-row: 1/4;
    margin-top: 0%;
    display: grid;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
}