<div class="container">

    <ul class="social-media">

        <li>
            <a href="https://drive.google.com/file/d/1qZtSmhERia0b2pODyLzCSYg-UkMyjYKu/view?usp=sharing">
                <i class='bx bxs-spreadsheet bx-burst-hover'></i>
            </a>
          </li>
        <li>
            <a href="mailto:digo.rodrigomalaquias@hotmail.com">
                <i class="bx bxl-gmail bx-burst-hover"></i>
            </a>
          </li>
        <li>
            <a href="https://wa.me/5532987025367">
            <i class='bx bxl-whatsapp bx-burst-hover'></i>
           </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/rodrigo-gomes-0a944a217/">
            <i class='bx bxl-linkedin-square bx-burst-hover'></i>
         </a>
        </li>
        <li>
            <a href="https://github.com/R3nge">
            <i class='bx bxl-github bx-burst-hover'></i>
        </a>
        </li>
    </ul>
         
 <ul class="contact-info">
    <li>Todos os direitos reservados 2023 | © Desenvolvido por Digão</li>
    <li></li>
</ul>

</div>